@font-face {
  font-family: "Pixelify Sans";
  src: url("./fonts/PixelifySans-Regular.ttf") format("truetype");
}

:root {
  --color-primary: #6C9BA7;
  --color-secondary: #6c757d;
  --color-light: #E1C97A;
  --color-dark: #343a40;
  --color-white: #fff;
  --color-black: #000;
  --r: 4px;
}

*, ::before, ::after, a {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Pixelify Sans';
  font-style: normal;
  background-color: var(--color-light);
  padding: 20px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-top: 0;
  border-radius: var(--r);
  /* Component 2 */
  width: 100%;
  margin-bottom: 10px;
}

body nav h1 {
  font-family: 'Pixelify Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
  line-height: 43px;
  color: var(--color-primary);
}

body nav > div {
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body nav#nav-egg-timer-back > div {
  width: 140px;
}

body nav button {
  border: none;
  background-color: none;
  outline: none;
  border-radius: var(--r);
  cursor: pointer;
  width: 40px;
  height: 40px;
  transition: transform 0.2s ease-in-out;
}

body nav button:hover {
  transform: scale(1.05);
}

button > a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: var(--color-primary);
}

body nav button#exit-btn {
  background-image: url('./assets/exit.png'); /* Remplace par le chemin relatif de ton image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: pixelated;
  /* exit */
}
body nav button#minimize-btn {
  background-image: url('./assets/minimize.png'); /* Remplace par le chemin relatif de ton image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: pixelated;
  /* minimize */

}
body nav#nav-egg-timer-back button#startTimer {
  background-image: url('./assets/back.png'); /* Remplace par le chemin relatif de ton image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: pixelated;
}

body main#index-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/background_cloud.png'); /* Remplace par le chemin relatif de ton image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: pixelated;
  border-radius: var(--r);
  /* Component 1 */
  width: 315px;
  height: 315px;
}

body main button#startTimer {
  border: none;
  background-color: var(--color-light);
  color: var(--color-primary);
  border-radius: var(--r);
  cursor: pointer;
  padding: 2px 10px;
  /* START */

  font-family: 'Pixelify Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  display: flex;
  align-items: center;
}

@keyframes scaleUp {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

main > button#startTimer {
  text-decoration: none;
  display: inline-block;
  animation: scaleUp 1s forwards ease-in-out infinite;
}

main#menu {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Deux colonnes égales */
  grid-template-rows: 1fr 1fr; /* Deux lignes égales */
  width: 315px;
  height: 315px;
  gap: 10px; /* Espacement entre les boutons (facultatif) */
}

main#menu > .choices {
  display: contents; /* Permet aux enfants d'occuper tout l'espace de `main` */
}

main#menu > .choices > .timer-btn {
  width: 100%;
  height: 100%;
  font-size: 1.5rem; /* Ajuste la taille du texte */
  border: none;
  background-color: var(--color-primary);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  border-radius: var(--r);
}

main#menu > .choices > .timer-btn:hover {
  transform: scale(1.05); /* Petit effet au survol */
}

.hidden {
  display: none;
}